<section class="phx-hero">
  <h1>Welcome to PhoenixHTTPCache demo!</h1>
</section>

<section>
  <h2>Info</h2>
  <p style="overflow-wrap: break-word;">
      fibo(<%= @number %>) = <%= @result %>
  </p>
</section>
