<section class="phx-hero">
  <h1>Welcome to PhoenixHTTPCache demo!</h1>
</section>

<section>
  <h2>Info</h2>
  <p style="overflow-wrap: break-word;">
      <%= if @number do %>
      fibo(<%= @number %>) = <%= @result %>
      <% else %>
      Use query param <code>number</code> to calculate its Fibonacci number
      <% end %>
  </p>
</section>
